*{
    box-sizing: border-box;
    margin: 0;
    padding : 0;
}

body {
    width: 100%;
    height: 100vh;
    background: #968d8c;
}

.list-agents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.agent {
    width: 205px;
    height: 60px;
    margin-bottom: 35px;
    border: 1px solid #8b978f;
    border-radius: 8px;

    span {
        font-size: 30px;
    }
    .ant-btn-link{
        color: #FF4654 !important;
        height: 60px;
        width: 100%;
        border-radius: 8px;
    }



}

.ant-btn-link:hover{
    background: #FF4654;
    span {
        color: #FFFFFF;
    }
}

p {
    padding-right: 20px;
    padding-left: 20px;
}
