#HomeMaps {
  padding-top: 50px;
  margin-bottom: 50px;
  .home_agent_page{
    background: #f94653;
    padding: 50px 0;

   .content {
     display: flex;
     flex-direction: column;
     justify-content: start;
     width: 700px;

     margin-left: 50px;
     h1 {
       font-size: 100px;
       color:white;
     }

     h4{
       font-size: 30px;
       color:white;
       padding : 0 50px;
     }

     p{
       font-size: 20px;
       color:white;
       padding : 0 50px;
     }
   }
    .abc {
      height: 650px ;
      margin-left: 300px;
    }

    .sc-gsDKAQ{
      justify-content: center;
      width: 250px;
      height: 70px;
      background: #ece8e1;
      color: #0f1923;
      font-size: 16px;
      margin-left: 200px;
      margin-top: 50px;

    }

    .sc-gsDKAQ:hover{
      background-color: #0f1923;
      color: #ece8e1;
      cursor: pointer;
    }
  }
}



