.header {
  top: 0;
  left: 0;
  margin: 0;
  border: 0;
  width: 100vw;
  height: 80px;
  background: rgb(17,17,17);
  align-content: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.text-link {
  color: #FFFFFF;
  justify-content: center;
  display: flex;
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
}

.text-link:hover {
  cursor: pointer;
  border-bottom: 3px solid #FF4655;
}
